.second_search{
  height: 85vh;
  margin-left: 3%;
  margin-top: 2%;
}
.second_search a{
  font-size: 25px;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #4d4d4d;
}
.third_search{
  margin-top: 1%;
}
.typemoko_second{
  border: none;
  width: 490px;
  height: 55px;
  border-radius: 5px;
  background: #E9E9E9;
  color: #B39595;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fourth_para{
  color: #A024A3;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;
  margin-top: 2%;
}.second_search{
  height: 85vh;
  margin-left: 3%;
  margin-top: 2%;
}
.second_search a{
  font-size: 25px;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #4d4d4d;
}
.third_search{
  margin-top: 1%;
}
.typemoko_second{
  border: none;
  width: 490px;
  height: 55px;
  border-radius: 5px;
  background: #E9E9E9;
  color: #B39595;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fourth_para{
  color: #A024A3;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;
  margin-top: 2%;
}